body {
	background-color: peachpuff;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#container {
	width: 80%;
	margin: 40px auto;
}

section.header-section h6 {
	text-align: center;
	font-size: 21px;
	padding: 15px 6px;
	border-bottom: #1a1a1a 1px solid;
}

h1 {
	font-size: 1rem;
	columns: #333333;
}

h1 span {
	font-size: 0.6em;
	color: chocolate;
}

ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	overflow-x: scroll;
	width: 100%;
}

ul li {
	margin-right: 9px;
	cursor: pointer;
	text-decoration: underline;
}

/* style for the header of the page */
div#container header#main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

div#container header#main-header h1 {
	font-size: 19px;
	border: silver 1px solid;
	padding: 7px 9px;
	cursor: pointer;
	border-radius: 12px;
	background-color: rgba(115, 110, 14, 0.5);
}

div#container header#main-header h1:hover {
	color: white;
	background-color: rgba(12, 51, 11, 0.795);
}
